.neat{
   width: 100%;
   background-color: #6699FF;
   padding: 4;
   font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

#loading{
  text-align: center;
}

.hideLoad{
  display: none;
}

.showLoad{
  display: block;
}
